@inherits LayoutComponentBase
@inject MudBlazor.IDialogService DialogService

<MudThemeProvider />
<MudSnackbarProvider />

<MudLayout>

    <!-- Top bar -->
    <MudAppBar Elevation="1">
        <MudText Typo="Typo.h6">Little Helpers</MudText>

        <MudSpacer />

        <MudButton Variant="Variant.Text" Href="/gallery">Gallery</MudButton>
    </MudAppBar>

    <!-- Main content -->
    <MudMainContent Class="pa-4 mt-16">
        @Body
    </MudMainContent>

    <div id="blazor-error-ui" data-nosnippet>
        An unhandled error has occurred.
        <a href="." class="reload">Reload</a>
        <span class="dismiss">🗙</span>
    </div>
</MudLayout>
