@inject IDatabaseService DatabaseService
@page "/airFryer"
@using LittleHelpers.Service
@rendermode InteractiveServer

<BlazorBootstrap.Offcanvas @ref="offcanvas" Size="BlazorBootstrap.OffcanvasSize.Small" />

<div class="d-flex flex-wrap">
@foreach (Meal meal in meals)
{
        <BlazorBootstrap.Card Style="width:18rem;">
        <!-- <CardBody>
            <CardTitle>@meal.Name</CardTitle>
        </CardBody> -->
            <BlazorBootstrap.Image Src="@meal.ImageUrl" IsThumbnail="true" Alt="placeholder" class="rounded-top" Style="width: 100%; height: 11vw; object-fit: cover;" />
            <BlazorBootstrap.Button class="btn btn-primary" @onclick="() => ShowDetails(meal.Id)">View Details</BlazorBootstrap.Button>
    </BlazorBootstrap.Card>
}
</div>


@code {
    private BlazorBootstrap.Offcanvas offcanvas = default!;
    private IEnumerable<Meal> meals = new List<Meal>();
    private HashSet<Meal> selectedMeals = new();

    private async Task ShowDetails(int mealId)
    {
        var parameters = new Dictionary<string, object>();
        parameters.Add("MealId", mealId);
        await offcanvas.ShowAsync<AirFryerDetail>(title: "Details", parameters: parameters);
    }

    private async Task<BlazorBootstrap.GridDataProviderResult<Meal>> MealsDataProvider(BlazorBootstrap.GridDataProviderRequest<Meal> request)
    {
        if (meals is null)
            meals = GetMeals();

        return await Task.FromResult(request.ApplyTo(meals));
    }

    protected override async Task OnInitializedAsync()
    {
        meals = GetMeals().Where(m=>m.IsAirFryer).ToList();
    }

    private IEnumerable<Meal> GetMeals()
    {
        return DatabaseService.GetAllMealsAsync().Result;
    }

    private Task OnSelectedItemsChanged(HashSet<Meal> meals)
    {
        selectedMeals = meals is not null && meals.Any() ? meals : new();
        return Task.CompletedTask;
    }
}