@inject IDatabaseService DatabaseService
@rendermode InteractiveServer

<div class="row">
    <div class="col-12 col-md-12"><Image Src="@meal.ImageUrl" IsThumbnail="true" Alt="placeholder" class="rounded-top"  /></div>
</div>
<div class="row">
    <div class="col-5 col-md-4 text-end">Name :</div>
    <div class="col-7 col-md-8">@meal.Name</div>
</div>
<div class="row">
    <div class="col-5 col-md-4 text-end">Description :</div>
    <div class="col-7 col-md-8">@meal.Description</div>
</div>

@code {
    private Meal meal = default!;

    [Parameter] public int MealId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        List<Meal> meals = DatabaseService.GetAllMealsAsync().Result;

        meal = meals.Single(m=>m.Id == MealId);
    }
}